.ct {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
html {
  background: linear-gradient(#ff3535, #d713ee, #ff4f90);
}
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 400px;
  background-color: black;
  border-radius: 20px;
}
label{
    color: #fff;
}
select {
  background-color: black;
  border-radius: 4px;
  color: #fff;
  border: 1px solid #fff;

}
option {
  background-color: black;
  border: 1px solid #fff;
  border: none;
  color: #fff;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.ank {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}
.btn {
  border: 2px solid #ffffff;
  border-radius: 24px;
  width: 140px;
  background-color:black;
  height: 30px;
  cursor: pointer;
}

.btn:hover {
  background-color: #fff;
}
.btn:hover .ank {
  color: black;
}
.ank1{
    text-decoration: none;
    color: aqua;
}